<!-- Encabezado -->
<header class="bg-white shadow-sm p-4">
  <div class="flex justify-between items-center">
    <div>
      <h1 class="text-2xl font-bold text-gray-800">Reservaciones</h1>
      <p class="text-gray-600">
        Aquí podrás consultar información relevante sobre reservationes y
        automatizar tareas diarias de hotel.
      </p>
    </div>
  </div>
</header>

<!-- Content home  -->
<main class="p-6">
  <!-- current room status  -->
  <div class="grid grid-cols-1 md:grid-cols lg:grid-cols gap-6 mb-8">
    <div class="bg-white rounded-xl shadow-md p-6 card-hover transition-all">
      <!-- Encabezado (siempre visible) -->
      <div class="flex items-center cursor-pointer">
        <div class="p-3 rounded-full bg-card-icon mr-4">
          <i class="fas fa-bed text-xl"></i>
        </div>
        <div>
          <p class="font-bold card-title">Estado de reservaciones en casa</p>
          <h3 class="text-sm">
            Consulta el estado de pago de tus habitaciones ocupadas...
          </h3>
          <h3 class="text-sm text-gray-400">
            Última revisión: Hoy a las 3:20 AM.
          </h3>
        </div>
      </div>

      <!-- Contenido colapsable -->
      <div
        class="collapse-content mt-4 pt-4 border-t border-gray-100"
        [class.hidden]="isCurrentCardCollapsed"
      >
        <!-- check component -->
        <app-current-status></app-current-status>
      </div>

      <!-- Botón de expandir/colapsar -->
      <div class="mt-4 pt-4 border-t border-gray-100">
        <span
          class="card-title text-sm font-bold float-end cursor-pointer"
          (click)="toggleCurrentCardCollapse()"
          >{{ isCurrentCardCollapsed ? "Expandir" : "Colapsar" }}
          <i
            class="fas fa-arrow-down ml-1 arrow transition-transform"
            *ngIf="isCurrentCardCollapsed"
          ></i>
          <i
            class="fas fa-arrow-up ml-1 arrow transition-transform"
            *ngIf="!isCurrentCardCollapsed"
          ></i>
        </span>
      </div>
    </div>
  </div>

  <!-- Check reservation -->
  <div class="grid grid-cols-1 md:grid-cols lg:grid-cols gap-6 mb-8">
    <div class="bg-white rounded-xl shadow-md p-6 card-hover transition-all">
      <div class="flex items-center cursor-pointer">
        <div class="p-3 rounded-full bg-card-icon mr-4">
          <i class="fas fa-eye text-xl"></i>
        </div>
        <div>
          <p class="font-bold card-title">Revisión de reservaciones</p>
          <h3 class="text-sm">
            Encuentra errores relacionados con pagos, tarifas y ruteos y analiza
            y compara la información de documentos anexados a las reservaciones.
          </h3>
        </div>
      </div>
      <!-- Contenido colapsable -->
      <div
        class="collapse-content mt-4 pt-4 border-t border-gray-100"
        [class.hidden]="isCheckCardCollapsed"
      >
        <!-- Check component -->
        <app-checker></app-checker>
      </div>
      <div class="mt-4 pt-4 border-t border-gray-100">
        <span
          class="card-title text-sm font-bold float-end cursor-pointer"
          (click)="toggleCheckCardCollapse()"
        >
          <span class="collapse-text">{{
            isCheckCardCollapsed ? "Expandir" : "Colapsar"
          }}</span>
          <i
            class="fas fa-arrow-down ml-1 arrow transition-transform duration-200"
            *ngIf="isCheckCardCollapsed"
          ></i>
          <i
            class="fas fa-arrow-up ml-1 arrow transition-transform duration-200"
            *ngIf="!isCheckCardCollapsed"
          ></i>
        </span>
      </div>
    </div>
  </div>

  <!-- Routings -->
  <div class="grid grid-cols-1 md:grid-cols lg:grid-cols gap-6 mb-8">
    <div class="bg-white rounded-xl shadow-md p-6 card-hover transition-all">
      <div class="flex items-center cursor-pointer">
        <div class="p-3 rounded-full bg-card-icon mr-4">
          <i class="fas fa-map text-xl"></i>
        </div>
        <div>
          <p class="font-bold card-title">Crear ruteo</p>
          <h3 class="text-sm">
            Configura transferencia de cargos de habitaciones a una reservación,
            grupo o folio virtual basándose en una palabra clave.
          </h3>
        </div>
      </div>
      <!-- Contenido colapsable -->
      <div
        class="collapse-content mt-4 pt-4 border-t border-gray-100"
        [class.hidden]="isRoutingCardCollapsed"
      >
        <!-- Routing component  -->
        <app-routings></app-routings>
      </div>
      <div class="mt-4 pt-4 border-t border-gray-100">
        <span
          class="card-title text-sm font-bold float-end cursor-pointer"
          (click)="toggleRoutingCardCollapse()"
        >
          <span class="collapse-text">{{
            isRoutingCardCollapsed ? "Expandir" : "Colapsar"
          }}</span>
          <i
            class="fas fa-arrow-down ml-1 arrow transition-transform duration-200"
            *ngIf="isRoutingCardCollapsed"
          ></i>
          <i
            class="fas fa-arrow-up ml-1 arrow transition-transform duration-200"
            *ngIf="!isRoutingCardCollapsed"
          ></i>
        </span>
      </div>
    </div>
  </div>

  <!-- Assign room -->
  <div class="grid grid-cols-1 md:grid-cols lg:grid-cols gap-6 mb-8">
    <div class="bg-white rounded-xl shadow-md p-6 card-hover transition-all">
      <div class="flex items-center cursor-pointer">
        <div class="p-3 rounded-full bg-card-icon mr-4">
          <i class="fas fa-list-check text-xl"></i>
        </div>
        <div>
          <p class="font-bold card-title">Auto-asignar habitaciones</p>
          <h3 class="text-sm">
            Asigna una habitación aleatoria a las reservaciones pendientes de
            llegar que estén pagadas o garantizadas.
          </h3>
        </div>
      </div>
      <!-- Contenido colapsable -->
      <div
        class="collapse-content mt-4 pt-4 border-t border-gray-100"
        [class.hidden]="isAutoAssignCardCollapsed"
      >
        <!-- Auto-assign room component  -->
        <app-auto-assign-rooms></app-auto-assign-rooms>
      </div>
      <div class="mt-4 pt-4 border-t border-gray-100">
        <span
          class="card-title text-sm font-bold float-end cursor-pointer"
          (click)="toggleAutoAssignCardCollapse()"
        >
          <span class="collapse-text">{{
            isAutoAssignCardCollapsed ? "Expandir" : "Colapsar"
          }}</span>
          <i
            class="fas fa-arrow-down ml-1 arrow transition-transform duration-200"
            *ngIf="isAutoAssignCardCollapsed"
          ></i>
          <i
            class="fas fa-arrow-up ml-1 arrow transition-transform duration-200"
            *ngIf="!isAutoAssignCardCollapsed"
          ></i>
        </span>
      </div>
    </div>
  </div>
</main>
