.sidebar-item:hover {
  background-color: rgba(135, 135, 135, 0.1);
  transition: all 0.3s ease;
}

.sidebar {
  height: 100%;
}

.bg-emerald-gradient {
  background: linear-gradient(to right, #234ac9, #1d3da8);
}
